.profiler-result {
  display: none;
}

@font-face {
  font-family: "Metropolis";
  src: url(#{$font}) format("woff");
  font-weight: 200;
  font-style: normal;
}

html {
  font-family: Metropolis;
}

.d-header .header-buttons {
  margin-top: 0;
  .header-theme-btn a {
    color: $secondary;
  }
}

.theme-page {
  .header-theme-btn {
    display: none;
  }
}

.theme-creator-intro {
  animation: fadein 0.75s;
  .tc-intro {
    margin-bottom: 3em;
    .tc-top-section {
      height: 200px;
      overflow: hidden;
      position: relative;
      background: linear-gradient(-90deg, #f2e88f, #00aeef);
      width: 100vw;
      left: calc(((100vw - 100%) / 2) * -1);
      top: -1.8em;
      .svg {
        position: absolute;
        top: 100%;
        left: -25vw;
        right: 0px;
        background: url(#{$waveSvg});
        background-position: center;
      }
      .svg_1 {
        height: 200px;
        transform: translateY(-40px);
      }
      .svg_2 {
        height: 240px;
        transform: translateY(-80px);
        background-size: 960px 240px;
        opacity: 0.5;
        left: -80vw;
        right: -5vw;
      }
      .svg_3 {
        height: 220px;
        transform: translateY(-120px);
        background-size: 880px 220px;
        opacity: 0.33;
        left: 0vw;
        right: -20vw;
      }
      .svg_4 {
        height: 280px;
        transform: translateY(-160px);
        background-size: 1120px 280px;
        opacity: 0.1;
        left: 0vw;
        right: -40vw;
      }
    }
    .tc-mid-section {
      .tc-mid-content {
        .tc-mid-section {
          height: 350px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 3em;
          border-top: 1px solid #e9e9e9;
          padding-top: 3em;
          &:first-of-type {
            padding-top: 0;
            border-top: 0;
          }
        }
        .tc-mid-box-right {
          margin-left: 2em;
        }
        .tc-text {
          border-left: 4px solid var(--color);
          padding: 20px 0px 20px 20px;
          .btn {
            background-color: var(--color);
            a {
              color: $secondary;
              &.dark-font {
                color: $primary;
              }
            }
          }
        }
        .tc-section-blurb {
          margin-bottom: 1em;
          max-width: 500px;
        }
        .tc-image img {
          width: 450px;
          height: auto;
        }
      }
    }
    .tc-bottom-section {
      .tc-bottom-content {
        padding: 3em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #e9e9e9;
        .tc-bottom-section-1 {
          display: flex;
          justify-content: space-evenly;
          a {
            color: $secondary;
          }
        }
        .tc-blurb {
          max-width: 500px;
          margin-bottom: 1em;
        }
        .tc-image img {
          width: 250px;
          height: auto;
        }
      }
    }
  }
}

.list-controls {
  #create-topic,
  .categories-admin-dropdown > .btn {
    background: none;
    border: 1px solid $primary-medium;
    &:hover {
      color: $tertiary;
      .d-icon {
        color: $tertiary;
      }
    }
  }
  .nav-pills > li a {
    color: $primary;
    padding: 6px 6px;
    margin: 0 4px;
    transition: box-shadow 0.15s;
    &.active,
    &:hover {
      color: $primary;
      background-color: transparent;
      box-shadow: 0px 2px 0 0 $tertiary;
    }
  }
}

.table-heading {
  border-bottom-width: 1px;
}

tbody {
  border-top-width: 1px;
}

.category-list tbody .category {
  border-left-width: 2px;
}

.badge-category-bg {
  border-radius: 5px;
  opacity: 0.5;
}
.badge-category-parent-bg {
  border-radius: 5px 0 0 5px;
  opacity: 0.5;
  + .badge-category-bg {
    border-radius: 0 5px 5px 0;
  }
}

.consent_banner {
  display: none;
}
